.header{
width: 100%;
border: 1px solid black;
/* background-color: #cdc7c7; */
display: flex;
justify-content: space-between;
}
.logo{
  width: 150px;
}
.nav-items ul{
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}
.nav-items ul li{
  font-size: 30px
}
.cart{
  width: 100px;
}
.filter{
  margin: 10px 0;
}
.filter-btn{
  cursor: pointer;
}
.res-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.res-card{
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.res-card:hover{
  border: 2px solid green;

}
.food-image{
  width: 100%;
  height: 200px;
}