.header{
width: 100%;
border: 1px solid black;
/* background-color: #cdc7c7; */
display: flex;
justify-content: space-between;
}
.logo{
  width: 150px;
}
.nav-items ul{
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}
.nav-items ul li{
  font-size: 30px
}
.cart{
  width: 100px;
}
.filter{
  margin: 10px 0;
}
.filter-btn{
  cursor: pointer;
}
.res-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.res-card{
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.res-card:hover{
  border: 2px solid green;

}
.food-image{
  width: 100%;
  height: 200px;
}
.shimmer-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 60px;
}
.shimmer-card{
  width: 200px;
  height:300px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #fff;
}
.btn{
  width: 70px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.about{
  text-align: center;
}
.contact{
  text-align: center;
}
.cart{
  display: flex;
  position: relative;
}
.cart-image{
  width: 100px;
  
}
.cart-text{
  position: absolute;
  left: 40px;
  top: -20px;
  font-size: 40px;
  font-weight: 600;
}
.cart-page{
  text-align: center;
}
.resMenu{
  text-align: center;
}
.resMenu>p{
  font-size: large;
  font-weight: 600;
}
.item-category{
  width: 50%;
  margin: 4px auto;
  background-color: rgb(233, 225, 225);
  box-shadow: 10px 10px transparent;
  padding: 4px;
}
.item-category-details{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.item-category-details span{
  font-size: 20px;
  font-weight: 600;
}
.card-details{
  padding: 10px;
  margin: 10px;
  border-bottom: 2px solid gray ;
  text-align: left;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.card-details div p{
  font-size: 14px;
}
.card-details-inner span{
  font-size: medium;
  font-weight: 600;
}
.item-image img{
  width: 100px;
  height: 80px;
}
.btn-image{
  position: absolute;
  margin: 6px;
}
.btn-image button{
  background-color: rgb(28, 178, 161);
  color: wheat;
  cursor: pointer;
  border-radius: 4px;
}
